body {
    margin: 0;
    border: 0;
    padding: 0;
}

h1 {
    color: brown;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#buttonSet {
    display: flex;
}

button {
    margin: 5px;
    border-radius: 15px;
    border: 1px solid black;
    padding: 5px;
}

button:hover {
    background-color: aquamarine;
}